// 1. Import Bootstrap functions first
@import "bootstrap/scss/functions";

// 2. Import custom configuration
@import "../styles/_config/variables";
@import "../styles/_config/typography";
// @import "../styles/_config/variables";

// 3. Import Bootstrap variables
@import "bootstrap/scss/variables";

// 4. Merge custom colors with Bootstrap theme colors
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors: map-merge($theme-colors, $ebook-colors);

// 5. Import Bootstrap maps
@import "bootstrap/scss/maps";

// 6. Import Bootstrap mixins
@import "bootstrap/scss/mixins";

// 7. Import Bootstrap root
@import "bootstrap/scss/root";

// 8. Import Bootstrap utilities
@import "bootstrap/scss/utilities";

// 9. Import Bootstrap layout & components
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

// 10. Import Bootstrap components need
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";

// 11. Import helpers
@import "bootstrap/scss/helpers";

// 12. Import utilities API
@import "bootstrap/scss/utilities/api";

// 13. Import custom components (add as you create them)

// 14. Import icons
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
// @import "components/buttons";
// @import "components/cards";
// @import "components/forms";
//@import "_component/navbar";
//@import "_component/button";

@import "./_custom/navbar";
@import "./_custom/home";
@import "_custom/signup";
@import "_custom/profileMenu";
@import "_custom/bookDetails";
@import "_custom/login";

@import "./_component/audiobook";
@import "./_component/bookcard";
@import "./_component/sections";
@import "./_component/button";
@import "./_component/btn";

