.audiobook-page {
  width: 100%;
  padding: 2rem 3rem;
  padding-top: 90px;

  .audiopage-header {
    margin-bottom: 1.5rem;

    .title {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    .count {
      font-size: 0.9rem;
      color: #6c757d;
    }
  }

  .audiobook-section .filters-section-wrapper {
    margin-bottom: 1.5rem;
  }

  .audiobook-section .book-grid-wrapper {
    margin-top: 1.5rem;
  }

  .audiobook-section .pagination-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

/* responsive page */
/* Tablets */
@media (max-width: 1024px) {
  .audiobook-page {
    padding: 1.5rem 2rem;
    padding-top: 80px;

    .audiopage-header .title {
      font-size: 1.2rem;
    }
  }
}

/* Mobile */
@media (max-width: 600px) {
  .audiobook-page {
    padding: 1.2rem 1rem;
    padding-top: 70px;

    .audiopage-header {
      margin-bottom: 1rem;

      .title {
        font-size: 1.1rem;
      }

      .count {
        font-size: 0.85rem;
      }
    }
  }
}