.book-page {
  width: 100%;
  padding: 2rem 3rem;
  padding-top: 90px;

  .page-header {
    margin-bottom: 1.5rem;

    .title {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    .count {
      font-size: 0.9rem;
      color: #6c757d;
    }
  }

  .bookpage-section .filters-section-wrapper {
    margin-bottom: 1.5rem;
  }

  .bookpage-section .book-grid-wrapper {
    margin-top: 1.5rem;
  }

  .bookpage-section .pagination-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .book-page {
    padding: 1.5rem 1.5rem;
    padding-top: 85px;
  }
}

/* Tablets ≥768px */

@media (min-width: 768px) {
  .book-page {
    padding: 1.75rem 2rem;
    padding-top: 85px;
  }
}

/* Laptops ≥992px */

@media (min-width: 992px) {
  .book-page {
    padding: 2rem 3rem;
    padding-top: 90px;
  }
}



