/* Primary Button */
.btn-primary {
  background-color: #3B5FD2;
  border-color: #3B5FD2;
  color: #fff;
}

.btn-primary:hover {
  background-color: #1945d3;
  border-color: #1945d3;
  color: #fff;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #6eadff; 
  border-color: #6eadff;
  color: #fff;
}

/* Outline Primary Button */
.btn-outline-primary {
  background-color: #F5F5F5;
  border-color: #3B5FD2;
  color: #1D1D20;
}

.btn-outline-primary:hover {
  background-color: #fff;
  border-color: #1945d3;
  color: #1D1D20;
}

.btn-outline-primary:active,
.btn-outline-primary:focus {
  background-color: #e1e1e1; 
  border-color: #6eadff;
  color: #1D1D20;
}