.footer {
  padding: 50px 50px 30px 50px;
  background-color: $primary; 
  color: white; 
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 200px; 
    }
  }

  .footer-nav {
    display: flex;
    gap: 15px;
    

    a {
      color: white;
      text-decoration: none;
      opacity: 0.8;
      transition: 0.3s;
    
    &:hover {
        opacity: 1;
        text-decoration: underline;
      }
      }
  }

  .footer-right {
    font-size: 0.9375rem;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .contact-info-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .footer-separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    
  }


  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.2s;
      
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .footer-links {
    display: flex;
    gap: 30px;
    align-items: center; 
    font-size: 0.875rem; 
    opacity: 0.8;
    
    a {
      color: white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
  }
}