.footer {
  margin: 0;
  padding: 40px 55px 0px 55px;
  height: 260px;
  background-color: $primary; 
  color: white; 
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer-nav {
    display: flex;
    gap: 40px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .footer-right {
    font-size: 0.9375rem;
  }
  .contact-info-footer{
    display: flex;
    gap: $spacer;
  }


  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 30px 25px 0px 0px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    display: flex;
    gap: 30px;
    align-items: center; 
    font-size: $font-family-base;
    


    a {
      color: white;
      text-decoration: none;
    }
    
  }
}