.hero-section {
  position: relative; /* important: enables absolute positioning inside */
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

.hero-btn {
  position: absolute;
  top: 75%;  /* Y position: move up/down */
  left: 22%; /* X position: move left/right */
  transform: translate(-0%, -50%);

}


// banner section 

.banner-section {
  position: relative; 
  width: 90%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
  margin: 0 auto;
}